---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Javier Parada</div>
  </div>

  <div class="mb-10 text-justify">
    I am a <b>Software engineer</b> and <b>Cybersecurity researcher</b> living in Tokyo.
    I hold a Bachellor’s degree in Computer Science with major in Software Engineering and a Master’s Degree in Computer Science with major in Information Systems Security from University of Malaga.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Cybersecurity Researcher at NICS Lab"
      subtitle="From 2023 at NICS Lab, Tokyo, Japan"
    >
      Research on cybersecurity in critical infrastructure and industrial environments.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer at Technology 2 Client"
      subtitle="From 2020 to 2023 at T2C, Málaga, Spain"
    >
      Application development with Python, Java and Node.js. Architecture design with Domain Driven Design (DDD), Command Query Responsability Segregation (CQRS), Hexagonal Architecture and Event Driven Design.
    </TimeLineElement>
    <TimeLineElement
      title="Full-Stack Web Developer at AppInnova"
      subtitle="From 2019 to 2020 at AppInnova, Málaga, Spain"
    >
      Backend and Frontend web application development with Nodejs, Angular and MongoDB.
    </TimeLineElement>
    <TimeLineElement
      title="Full-Stack Web Developer at Internalia Group"
      subtitle="From 2018 to 2018 at Internalia Group, Málaga, Spain"
    >
      Backend and Frontend web application development with PHP, Javascript and MySQL.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Japanese Language"
      subtitle="2024 at Kai Japanese School, Tokyo, Japan"
    />
    <TimeLineElement
      title="Master's degree in Computer Science with major in Information Systems Security"
      subtitle="2023 at University of Malaga, Malaga, Spain"
    />
    <TimeLineElement
      title="Bachellor's degree in Computer Science with major in Software engineering"
      subtitle="2020 at University of Malaga, Malaga, Spain"
    />
    <TimeLineElement
      title="Japanese Language"
      subtitle="2018 at Official Language School of Malaga, Malaga, Spain"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> CERT ACLES English Certificate (B1 Proficient)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish</li>
    <li>English</li>
    <li>Japanese</li>
    <li>Python</li>
    <li>Rust</li>
    <li>Golang</li>
    <li>Javascript</li>
    <li>Node.js</li>
    <li>Bash</li>
    <li>C</li>
    <li>C++</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>SOLID</li>
    <li>Hexagonal architecture</li>
    <li>DDD</li>
    <li>CQRS</li>
    <li>Event sourcing</li>
    <li>NMAP</li>
    <li>Metasploit</li>
    <li>IOT</li>
    <li>Arduino</li>
    <li>Docker</li>

  </ul>
</BaseLayout>
