---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Javier Parada</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Cybersecurity Researcher at NICS Lab"
      subtitle="From 2023 at NICS Lab, Tokyo, Japan"
    >
      Research on cybersecurity in critical infrastructure and industrial environments.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer at Technology 2 Client"
      subtitle="From 2020 to 2023 at T2C, Málaga, Spain"
    >
      Application development with Python, Java and Node.js. Architecture design with Domain Driven Design (DDD), Command Query Responsability Segregation (CQRS), Hexagonal Architecture and Event Driven Design.
    </TimeLineElement>
    <TimeLineElement
      title="Full-Stack Web Developer at AppInnova"
      subtitle="From 2019 to 2020 at AppInnova, Málaga, Spain"
    >
      Backend and Frontend web application development with Nodejs, Angular and MongoDB.
    </TimeLineElement>
    <TimeLineElement
      title="Full-Stack Web Developer at Internalia Group"
      subtitle="From 2018 to 2018 at Internalia Group, Málaga, Spain"
    >
      Backend and Frontend web application development with PHP, Javascript and MySQL.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's degree in Computer Science with major in Information Systems Security"
      subtitle="2023 at University of Mañaga, Malaga, Spain"
    />
    <TimeLineElement
      title="Bachellor's degree in Computer Science with major in Software engineering."
      subtitle="2020 at University of Mañaga, Malaga, Spain"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> CERT ACLES English Certificate (B1 Proficient)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
