---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Publications" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>

  <HorizontalCard
    title="Emergency Prevention and Control Platform"
    img="/publications/emergency_prevention and_control_platform/logo.jpg"
    desc="Platform conceived as a control center that allows to emergency services to manage the information sent through their accounts in media such as social networks and provide in an orderly and categorized manner all information."
    badge="NEW"
    url="https://riuma.uma.es/xmlui/handle/10630/20414"
  />

  <div class="divider my-0"></div>
</BaseLayout>
